* {
  margin: 0;
  padding: 0;
  background-color: rgb(15, 15, 15);
}

h1 {
  color: #d2d2d2;
}

.Page404 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(169, 15, 15);
  flex-direction: column;
}

.link {
  border: 2px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}

.profiles-wrap {
  display: flex;
  justify-content: center;
}

.profiles {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.prof-link {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.outlet-wrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
